*/**/node_modules
*/**/.next
pnpm-lock.yaml
*/**/dist

packages/client/console/public/build
packages/client/console/build
packages/client/console/.cache
packages/client/console/node_modules

.eslintrc.*
*/**/.eslintrc.*
.prettierrc
*/**/.prettierrc
