*/**/node_modules
*/**/.next
pnpm-lock.yaml
*/**/dist

apps/packages/client/console/public/build
apps/packages/client/console/build
apps/packages/client/console/.cache
apps/packages/client/console/node_modules

.eslintrc.*
*/**/.eslintrc.*
.prettierrc
*/**/.prettierrc
