.body {
  min-height: 100vh;
  display: grid;
  grid-template:
    'header' auto
    'main' 1fr
    'footer' auto;
}
.header {
  grid-area: header;
}
.main {
  grid-area: main;
  width: 100%;
}
.footer {
  grid-area: footer;
}
