.header {
  height: 64px;
  background-color: white;
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}
.header-content {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: space-between;
}
.github-svg {
  width: 48px;
  height: 48px;
}
.github-logo-svg-exterior {
  width: 36px;
}
.github-logo-svg {
  width: 100%;
}
.zenn-logo-svg-exterior {
  width: 36px;
}
.zenn-logo-svg {
  width: 100%;
}
.youtube-logo-svg-exterior {
  width: 36px;
}
.youtube-logo-svg {
  width: 100%;
}

.links {
  display: flex;
  gap: 12px;
}
